* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  padding: 96px 0;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  border-top: 8px solid hsl(0deg, 0%, 40%);
  background: hsl(0deg, 0%, 60%);
  padding: 128px 0;
}

.card {
  margin: 0 auto;
  max-width: 520px;
  background-color: #fff;
  padding: 8px 16px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.intro-chunk {
  margin: 0 auto;
  max-width: 520px;
  padding: 0 128px 0 16px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  margin: 0;
  margin-left: -32px;
  padding: 8px 32px;
  max-width: fit-content;
}
